.image-wrapper {
  display: inline-block;

  img {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  .image-preloader {
    background: #ddd;
    animation: blink 0.5s linear infinite;
  }
}
