& {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}

svg {
  display: inline-block;
}

h2,
p {
  margin: 0;
  padding: 0;
}
.font-normal {
  font-weight: 400;
}
.font-bold,
.font-bolder {
  font-weight: 700;
}

.gradient-bg {
  background: linear-gradient(var(--gradient-degree), var(--gradient-start-color) 0%, var(--gradient-end-color) 100%);
}

.horizontal-spacer {
  padding: 0 1em;
}

.flex-spacer {
  flex: 1;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stretch {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.scrollable {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.widget-wrapper {
  @extend .gradient-bg;
  overflow: hidden;
  width: 100%;
}

.routes,
[class*='-widget'] {
  @extend .center;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.empty-widget {
  height: 100%;
  width: 100%;

  .message {
    background: var(--form-bg-color);
    filter: var(--filter-drop-shadow);
    padding: 2em;
    width: 100%;
  }
}
