.react-widgets.theme2 {
  --primary-color: #0cd664;

  --bg-color: #1a212a;
  --bg-secondary-color: #1f262f;
  --gradient-start-color: #0b1422;
  --gradient-end-color: #042d56;
  --gradient-degree: 90deg;

  --text-color: #fff;
  --title-color: #fff;
  --subtitle-color: #888;
}
