$palette: (
  'primary': #ff72e0,
  'accent': #d98328,
  'secondary': #fec98d,
  'foreground': #fafafa,
  'background': #010037,
);

&.theme3 {
  --bg-color: #{palette('primary')};

  --gradient-start-color: #{palette('secondary')};
  --gradient-end-color: #{palette('primary')};
  --gradient-degree: 90deg;

  --filter-drop-shadow: drop-shadow(rgba(0, 0, 0, 0.53) 0.5em 0.6em 0.7em);

  --text-color: #fff;

  --button-bg-color: #{palette('accent')};
  --button-hover-bg-color: #{palette-level('accent', 2)};
  --button-text-color: #fff;
  --button-hover-text-color: #fff;

  --modal-bg-color: #fff;
  --modal-title-color: #333;
  --modal-text-color: #333;

  --list-item-bg-color: #{palette('background')};
  --list-item-date-color: #b1afb2;
  --list-item-title-color: #{palette('primary')};
  --list-item-text-color: #{palette('foreground')};
  --list-item-author-color: #{palette('accent')};
  --list-item-author-border-color: #{palette('accent')};

  --form-bg-color: #{palette('background')};
  --form-input-bg-color: #{palette('foreground')};
  --form-input-border-color: #{palette('secondary')};
  --form-input-label-color: #{palette('foreground')};
  --form-input-text-color: #{palette('background')};
}
