&.theme3 {
  --primary-color: #48cae4;

  --bg-color: #03045e;
  --bg-secondary-color: #023e8a;

  --gradient-start-color: #03045e;
  --gradient-end-color: #023e8a;
  --gradient-degree: 90deg;

  --text-color: #fff;
  --title-color: #000;
  --subtitle-color: #888;

  --button-bg-color: #90e0ef;
  --button-hover-bg-color: #caf0f8;
  --button-text-color: #fff;

  --alerts-icon-color: #666;

  --modal-bg-color: #fff;
  --modal-title-color: #121212;
  --modal-text-color: #444;

  --scoreboard-text-color: #000;
}
