.react-widgets.theme2 {
  --primary-color: #dda15e;

  --bg-color: #606c38;
  --bg-secondary-color: #283618;

  --gradient-start-color: #606c38;
  --gradient-end-color: #283618;
  --gradient-degree: 90deg;

  --text-color: #fff;
  --title-color: #fff;
  --subtitle-color: #888;

  --button-bg-color: #dda15e;
  --button-hover-bg-color: #bc6c25;
  --button-text-color: #fff;

  --alerts-icon-color: #666;

  --modal-bg-color: #fff;
  --modal-title-color: #121212;
  --modal-text-color: #444;

  --scoreboard-text-color: #fff;
}
