&.theme1 {
  --primary-color: #e9c46a;

  --bg-color: #264653;
  --bg-secondary-color: #2a9d8f;

  --gradient-start-color: #264653;
  --gradient-end-color: #2a9d8f;
  --gradient-degree: 90deg;

  --text-color: #fff;
  --title-color: #fff;
  --subtitle-color: #888;

  --button-bg-color: #e9c46a;
  --button-hover-bg-color: #f4a261;
  --button-text-color: #fff;

  --alerts-icon-color: #888;

  --modal-bg-color: #fff;
  --modal-title-color: #121212;
  --modal-text-color: #444;

  --scoreboard-text-color: #fff;
}
